button{
    width:200px;
    border-radius: 5px;;
  }
.form_Reg{
  
  margin:0 auto;
  width:300px;
  height: auto;
  position: relative;
  top:20px;
  overflow: hidden;
  margin-top: 50px;
}
.send{
  position: absolute;
  left: 70%;
  top:5%;
}
.emailButton{
    position:absolute;
    left:60%;
    top:55px;
    width:80px;
    border-radius:5px;
    z-index:10
}
