.rebody{
    width: 50%;
    margin: 50px auto;
    text-align: center;
}
.children{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}
.children button{
    width: 200px;
}