hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
h3{
    display: block;
    font-size: 1.7em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content-title{
    margin-top:-10px;
    margin-bottom: 0;
    color: #0C7ED9;
    text-align: center;
}
.content-date{
    text-align: center;
}
.content-date a{
    color: black;
}
.content-body{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
}
.content-body span{
    font-weight: bolder;
}
