@import '~antd/dist/antd.css';
.form{
    
    border-radius: 2px;
    padding-top:20px;
    border:1px solid rgb(192, 190, 190);
    margin:0 auto;
    margin-top:100px;
    width:300px;
    height: 390px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
