@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.top{
  /* background-color: #b7c7fd; */
  text-align:right;
}
.top a{
  margin-right: 2em;
}
.App-header {
  /* background-color: #a1b6face; */
  background-image: url("./imgs/logo_right.jpg");
  /* min-height: 30vh; */
  height: 20vh;
  display: flex;
  flex-direction:row;
  align-items: end;
  justify-content:space-around;
  font-size: calc(8px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header a{
  margin-right: 2em;
}
.App-header img{
  height: 20vh;
}
.club_title{
  display: flex;
  flex-direction:row;
  align-items:end;
  font-size: 32px;
  font-style:inherit;
  font-family:unset;
  color: rgb(59, 122, 240);
}
.router-link{
  bottom: 5px;
}
