@import '~antd/dist/antd.css';


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #cbeffc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.signUpButton {
  margin: 0 auto;
}

.ant-card-bordered .ant-card-cover {
  width: 20%;
}

.personalCompetitonList .ant-card-body {
  display: flex;
}

.personalCompetitonList .ant-card-body button {
  display: block;
}